@import 'reset';

#view {
  height: 100vh;
  left: 0;
  max-height: 100%;
  max-width: 100%;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100vw;
}

html {
  background: hsl(240, 50, 10);
}